@import "vars";
@import "mixin";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100;200;300;400;500;600;700&display=swap");

body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 20px;
  color: #111;
  background-color: #3c3838;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}

$red: rgb(230, 155, 155);
$blue: rgb(88, 96, 255);
$green: rgb(45, 194, 45);

.swiper-button-prev,
.swiper-button-next {
  top: 50%;
  transform: translateY(-50%);
  width: 35px !important;
  height: 35px !important;
  background: #fff;
  border-radius: 100%;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 15px !important;
  color: #000;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  z-index: 99;
  text-align: center;
  overflow: hidden;
  height: 300px;
  &:after {
    content: "";
    position: absolute;
    width: 73%;
    height: 1px;
    background-color: #fff;
    opacity: 0.5;
    top: 50%;
    left: 13%;
  }

  h1 {
    width: 620px;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    background-color: #1c1c1c;
    height: 67px;
    display: flex;
    align-items: center;
    border-radius: 55px;
    justify-content: center;
    letter-spacing: 2px;
    z-index: 1;
    strong {
      color: red;
    }
  }
}

#menu {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  ul {
    display: flex;
    li {
      margin-left: 10px;
      a {
        display: flex;
        padding: 15px 30px;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        color: #fff;
        font-weight: 700;
        &.day {
          background-color: $red;
        }
        &.voca {
          background-color: $blue;
        }
      }
    }
  }
}

#footer {
  display: flex;
  justify-content: center;
  p {
    padding: 15px 30px;
    background-color: #fff;
    font-weight: 300;
    border-radius: 100px;
    margin: 50px 0;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 4px;
    strong {
      font-weight: 700;
    }
  }
}

.container {
  width: 1400px;
  margin: 100px auto;
  color: #fff;

  .title {
    font-size: 45px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
    align-items: center;
    strong {
      font-weight: 700;
      overflow: hidden;
      height: 65px;
      width: auto;
    }
  }
  .btnPrev {
    width: 121px;
    height: 47px;
    font-size: 22px;
    margin-top: 3%;
    border-radius: 12px;
    border: none;
    background: #000;
    color: #fff;
    font-weight: 700;
    letter-spacing: 4px;
    overflow: hidden;
    cursor: pointer;
    @include longShadow(#777, 50);
  }
}

.btns {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  .btnsBack {
    width: 142px;
    height: 57px;
    font-size: 18px;
    color: #000;
    background: #fff;
    border-radius: 13px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 700;
  }
}
.mainMovie {
  width: 86%;
  height: 100vh;
  overflow: hidden;
  padding-top: 4%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  .curtain {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    span {
      position: absolute;
      display: block;
      background: #871010;
      &:nth-child(1) {
        top: 0;
        border-bottom-right-radius: 80%;
        width: 200px;
        height: 460px;
        border-right: 10px solid #000;
      }
      &:nth-child(2) {
        top: 43%;
        border-top-right-radius: 80%;
        width: 200px;
        height: 530px;
        border-right: 10px solid #000;
      }
      &:nth-child(3) {
        top: 0%;
        right: 0;
        border-bottom-left-radius: 80%;
        width: 200px;
        height: 460px;
        border-left: 10px solid #000;
      }
      &:nth-child(4) {
        top: 43%;
        right: 0;
        border-top-left-radius: 80%;
        width: 200px;
        height: 530px;
        border-left: 10px solid #000;
      }
    }
  }
  .mainImg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transform: translateY(30px);
    z-index: -1;
    .img {
      margin: 0 10px 10px 0;
      img {
        height: 210px;
        width: 144px;
      }
    }
  }
  .cursor {
    position: absolute;
    bottom: 40px;
    animation: scrolldown 2s infinite;
    img {
      width: 80px;
      height: 80px;
    }
  }
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  li {
    display: flex;
    width: calc(50% - 20px);
    margin: 150px 10px 0 10px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: left;
    a {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .img {
      margin-top: -100px;
      position: relative;
      img {
        height: 275px;
      }
      .point {
        position: absolute;
        bottom: 20px;
        left: 7px;
        width: 70px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
        color: #fff;
        border-radius: 34pc;
        font-size: 14px;
        border: 1px solid #555;
      }
    }
    .info {
      margin-left: 30px;
      position: relative;
      flex-grow: 1;
      .titleBox {
        margin-bottom: 20px;
        h3 {
          font-size: 24px;
          margin-bottom: 20px;
        }
        .release {
          opacity: 0.5;
          margin-top: 20px;
          font-size: 16px;
        }
        .originalTitle {
          font-size: 17px;
        }
      }
      .genre {
        span {
          display: inline-block;
        }
        span:before {
          content: "/";
          display: inline-block;
          margin: 0 5px;
        }
      }
      .overview {
        @include multiEllipsis(3, 1.5);
        font-size: 16px;
      }
      .vote {
        position: absolute;
        right: 20px;
        top: 20px;
        padding: 15px;
        color: #fff;
        font-size: 13px;
        border-top: 1px solid #858585;
        text-align: center;
        border-bottom: 1px solid #858585;
      }
    }
  }
}

.detail {
  .detailBox {
    display: flex;
    justify-content: space-between;
    .img {
      width: 300px;
      img {
        border-radius: 0 50px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
        // border: 10px solid #fff;
      }
    }
    .info {
      overflow: hidden;
      border-radius: 50px 0;
      background-color: rgba(255, 255, 255, 0.6);
      color: #111;
      margin-left: 50px;
      flex-grow: 1;
      padding: 30px;
      text-align: left;
      .titleBox {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #999;
        h3 {
          font-size: 24px;
        }
        .originalTitle {
          margin: 10px 0;
        }
      }
      .summary,
      .overviewBox {
        dl {
          margin-bottom: 10px;
          padding-bottom: 10px;
          border-bottom: 1px dotted #ccc;
          align-items: center;
          dt {
          }
          dd {
            font-size: 17px;
            margin-top: 10px;
            font-weight: 700;
          }
        }
      }
    }
  }
  .profileList {
    display: flex;
    width: 100%;

    .item {
      display: flex;
      flex-direction: column;
      width: 120px;
      flex-shrink: 1;
      img {
        width: 100px;
        height: 120px;
        object-fit: cover;
      }
      span {
        font-size: 14px;
        margin-top: 10px;
      }
    }
  }
  .bg {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    top: 0;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}

#search {
  right: 20px;
  display: flex;
  input {
    color: #fff;
    height: 46px;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    outline: none;
    border: 1px solid #ccc;
    width: 600px;
    background: none;
    font-size: 18px;
    font-family: inherit;
  }
  a {
    background-color: #111;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 0 20px;
    font-size: 14px;
  }
}

#actor {
  display: flex;
  justify-content: center;
  .contain {
    margin-top: 12%;
    display: flex;
    align-items: center;
    padding: 3% 5% 0.2%;
    justify-content: space-around;
    background-color: #b3b3b3;
    width: 60%;
    border-radius: 55px;
    .actorImg {
      position: relative;
      margin-right: 3%;
      .actorName {
        color: #323232;
        font-size: 22px;
        font-weight: 700;
      }

      &:after {
        content: "";
        position: absolute;
        height: 121%;
        width: 1px;
        right: -48px;
        background-color: #fff;
        top: -33px;
      }
    }
    .actorDesc {
      width: 60%;
      text-align: start !important;
      strong {
        font-size: 23px;
        font-weight: 700;
      }
      h1 {
        margin-bottom: 10px;
      }
      .actorBirth {
        font-size: 18px;
        color: #716a6a;
      }
      .actorJob {
        font-size: 18px;
        color: #000;
      }
      .actorBio {
        font-size: 18px;
        color: #fff;
        @include multiEllipsis(3, 1.5);
        height: 90px;
        font-size: 17px;
      }
      .anotherMovie {
        dt {
          font-weight: 700;
        }
        dt {
          margin-bottom: 20px;
        }
      }
    }
    .profileList {
      .swiper-wrapper {
        height: 100%;
        .swiper-slide {
          flex-shrink: 1;
          a {
            img {
              width: 135px;
              margin-bottom: 10px;
              height: 200px;
            }
            .title {
              font-size: 15px;
              display: flex;
              justify-content: flex-start;
            }
            .character {
              display: flex;
              justify-content: flex-start;
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

@keyframes scrolldown {
  0% {
    transform: translateY(-8px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(-8px);
  }
}
